body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 2px 0px 32px 0px;
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin: 20px 0px 5px 0px;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
}

hr {
  width: 85%;
  border: 1px dotted #4bb0e7;

}

table {
  table-layout: fixed;
}

th, td {
  width: 180px;
  font-family:'Courier New', Courier, monospace;
}

th {
  text-align: left;
}

#addMatchSubmissionContainer {
  display: flex;
  flex-direction: row;
}

#addMatchSubmissionContainer > select, option {
  width: calc(100% - 24px - 1em);
  margin-right: 1em;
  text-overflow: ellipsis;
}

.addButton {
  border: 0cm;
  border-radius: 3px;
  height: 24px;
  width: 30px;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(0.9);
  }
}

select {
  font-family:'Courier New', Courier, monospace;
  padding: .2em .6em .2em .6em;
  border-radius: 3px;
  background-color: white;
}